<app-header titulo="Formatos" ></app-header>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<div class="contenedor">
<div>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
      </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="matricula">
            <th mat-header-cell *matHeaderCellDef>N° </th>
            <td mat-cell *matCellDef="let element"> {{element.matricula}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="perfilName">
            <th mat-header-cell *matHeaderCellDef> Ver/Editar </th>
            <td mat-cell *matCellDef="let element">
                <button class="boton" routerLink="/editformatos">
                    <img src="https://image.flaticon.com/icons/png/512/1700/1700483.png" width="40px" height="40px">
                </button> </td>
          </ng-container>
        
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>