/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  .select {
    text-align: center;
    margin-top: 90px;
  }
  .select2 {
    text-align: center;
    width: 150px;
  }
  .img {
    text-align: center;
  }