<app-header titulo="Usuarios" ></app-header>
<mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>
<div class="contenedor">

  <div class="select">
    <mat-card>
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </div>
        <div>
        <mat-label>Bienvenido</mat-label>
        </div>
        <div>
        <mat-label>ING: Alfonso Miguel Escobar</mat-label>
        </div>
        <br>
</mat-card>
<br>
<div>
  <mat-label>Periodo: </mat-label> 
  <mat-select class="select2" name="periodo" [(ngModel)]="elementoselect">
    <mat-option></mat-option>
    <mat-option value="E-A-2020" >Enero-Abril 2020</mat-option>
    <mat-option value="M-AG-2020">Mayo-Agosto 2020</mat-option>
  </mat-select>
  </div>
</div>

<div fxLayout="row" class="contenedor" *ngIf="elementoselect">
    <mat-card>
        <button routerLink="/grupos">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
        <div>
          <mat-label>Alejandro Morales</mat-label>
        </div>
    </mat-card>


    <mat-card>
        <button routerLink="/grupos">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
        <div>
          <mat-label>Moises Hernandez</mat-label>
        </div>
    </mat-card>

    
    <mat-card>
        <button routerLink="/grupos">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
        <div>
          <mat-label>Gerardo Morales</mat-label>
        </div>
    </mat-card>

    
    <mat-card>
        <button routerLink="/grupos">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
        <div>
          <mat-label>Felipe Zarate</mat-label>
        </div>
    </mat-card>

    <mat-card>
        <button routerLink="/grupos">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
        <div>
          <mat-label>Zuriel Montesinos</mat-label>
        </div>
    </mat-card>

    <mat-card>
        <button routerLink="/grupos">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
        <div>
          <mat-label>David Gomez</mat-label>
        </div>
    </mat-card>

    <mat-card>
      <button routerLink="/grupos">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
      </button>
      <div>
        <mat-label>Yabir Hernandez</mat-label>
      </div>
  </mat-card>

  <mat-card>
    <button routerLink="/grupos">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
    </button>
    <div>
      <mat-label>Ulises Martinez</mat-label>
    </div>
</mat-card>

</div>