
<mat-sidenav-container (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav mode="over"  (keydown.escape)="sidenav.toggle()" disableClose
                  fixedInViewport="fixed" fixedTopGap="0" fixedBottomGap="0" class="sidenav">
                  <mat-nav-list>
                    <a mat-list-item [routerLink]="['/',nav.path]" *ngFor="let nav of paths">{{nav.name}}</a>
                  </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="header">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>{{ titulo | uppercase }}</h1>
        <span class="spacer"></span>
        <button mat-mini-fab color="light">P</button>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>