<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" #formLogin="ngForm" (ngSubmit)="login( formLogin )">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Matricula" [(ngModel)]="usuario.matricula" name="matricula">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contraseña" [(ngModel)]="usuario.password" name="password" type="password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
      </form>
    </mat-card>
  
  </div>
  <app-footer></app-footer>