<app-header titulo="Carreras" ></app-header>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<div class="contenedor">
    <div  fxLayout="row">
    <mat-card>
        <button>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
    </mat-card>

    <mat-card>
        <button>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
    </mat-card>

    
    <mat-card>
        <button>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
    </mat-card>

    
    <mat-card>
        <button>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
    </mat-card>

    <mat-card>
        <button>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
    </mat-card>

    <mat-card>
        <button>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" width="100px" height="100px">
        </button>
    </mat-card>

</div>
            
</div>