/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.contenedor {
    flex: 1;
    bottom: 0;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }