<app-header titulo="Platu" ></app-header>
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<div class="contenedor mt-5">
    <div class="row">
        
        <div class="">
            <button (click)="toggleDisabled()">
                {{ isDisabled ? 'Enable editor' : 'Disable editor' }}
            </button>
            <ckeditor [(ngModel)]="model.editorData" [editor]="Editor" [disabled]="isDisabled"></ckeditor>
        </div>
    </div>
</div>
<app-footer></app-footer>