<h1 mat-dialog-title>Datos del Usuario</h1>
<div mat-dialog-content>
  
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.usuario.nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Matricula</mat-label>
    <input matInput [(ngModel)]="data.usuario.matricula">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="data.usuario.password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Perfil</mat-label>
    <mat-select [(ngModel)]="data.usuario.perfil">
      <mat-option *ngFor="let perfil of data.perfiles" [value]="perfil">
        {{perfil.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="primary"><mat-icon>save</mat-icon></button>
</div>